{% extends 'base2.html.twig' %}
{% block stylesheets %}
	
{% endblock %}
{% block title %}
	new Project
{% endblock %}


{% block body %}
    <h1>Edit Project</h1>

    {{ include('projects/_form.html.twig') }}

    
<a href="{{ path('app_projects_index') }}" class="back-button">back to list</a>
{% endblock %}






























