

{% block body %}
    <div class="container">
        <h1 class="mt-5">Edit Categories</h1>

        {{ include('categories/_form.html.twig', {'button_label': 'Update'}) }}

        <div class="mt-4">
            <a href="{{ path('app_categories_index') }}" class="btn btn-secondary pl-4">Back to List</a>
        </div>

        <div class="mt-4">
            {{ include('categories/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
